replicaCount: 2

image:
  repository: 132203050676.dkr.ecr.ap-southeast-1.amazonaws.com/node-express-app
  tag: "1.0.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources:
  requests:
    cpu: "200m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

config:
  PORT: "3000"

secrets:
  name: node-express-app-secrets
  region: ap-southeast-1

serviceAccount:
  create: true
  name: node-express-sa
  roleArn: arn:aws:iam::132203050676:role/eks-secrets-role

tolerations:
  - key: backend
    operator: Equal
    value: "true"
    effect: NoSchedule

ingress:
  enabled: true
  className: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'
    alb.ingress.kubernetes.io/healthcheck-path: /v1/health
  host: yogeshramadoss.cloud
